@import "./base.css";

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

body {
  background: url('/bg.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  background: white;
  margin: 10px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: inset 0 0 1px 1px black;
  z-index: 1;
}

.app-header {
  display: flex;
  padding: 15px;
  position: relative;
}

.app-header::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: black;
  content: "";
}

.app-header i {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: 5px;
  border: 1px solid black;
}

.app-header i:nth-child(1) {
  background: #e85d75;
}

.app-header i:nth-child(2) {
  background: #eec643;
}

.app-header i:nth-child(3) {
  background: #79b791;
}

.app-body {
  font-size: var(--font-size);
  padding: 20px;
  padding-bottom: 5vh;
}

.app .icon {
  margin-bottom: -5px;
}

.app h1, .app h3 {
  margin: 5px;
  color: var(--color-heading);
  transition: color 200ms linear 100ms;
}

.app p {
  color: var(--color-text);
  transition: color 200ms linear 100ms;
}

.app ul {
  color: var(--color-text);
  transition: color 200ms linear 100ms;
  padding: 0;
  margin: 0;
  list-style: none;
}

.app ul li::before {
  content: "●";
  margin-right: 5px;
}

.app-body p {
  line-height: 1.5;
}

.toggle {
  position: absolute;
  top: 14px;
  right: 15px;
}

.toggle label {
  position: relative;
  display: block;
  width: 50px;
  height: 22px;
  background: #fff;
  border: 1px solid var(--color-text);
  border-radius: 100px;
  cursor: pointer;
}

.toggle label::before {
  position: absolute;
  width: var(--bg-width);
  height: var(--bg-height);
  background: var(--color-background);
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 100%;
  opacity: 1;
  transform: translate3d(-47%, 0, 0) scale(0.1);
  transition: background 300ms ease-in-out 200ms,
    opacity 350ms ease-in-out 200ms, transform 400ms ease-in-out;
  pointer-events: none;
  content: "";
  opacity: 0;
  z-index: -999;
}

.toggle label::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 4px;
  margin: auto;
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid black;
  content: "";
  border-radius: 100px;
  transition: background 200ms linear, transform 200ms ease-in-out 100ms;
}

.toggle input {
  display: none;
}

.toggle input:checked~label:after {
  background: #000;
  transform: translate3d(27px, 0, 0);
}

.toggle input:checked~label:before {
  transform: translate3d(-84%, 23%, 0) scale(1);
  transition: background 300ms ease-in-out, opacity 30ms ease-in-out,
    transform 400ms ease-in-out;
  opacity: 1;
}

.list-and-widget {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (min-width: 650px) {
  body {
    height: 100vh;
  }

  .list-and-widget {
    flex-direction: row;
  }
}